html {
  font-family: 'Arvo', serif !important;
  background-color: #f8f8f8;
}
/* top section */
.bg {
  background-image: url(/resources/img/top_bg.svg);
  background-position: right;
}

.top-bg {
  background-image: url(/resources/img/top_bg.svg);
  background-position: bottom;
  /* height: 90vh; */
}
/* top section media */
@media (max-width: 767.98px) {
  .bg {
    background-image: url(/resources/img/top_bg.svg);
    background-position: left;
  }

}
/* our aim */

.why-us {
  background-image: url(/resources/img/top_section_bg.svg);
  h2 {
    position: relative;
    margin-bottom: 35px;
  }
  .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
    transition: 0.5s;
    position: relative;
    background-color: #333;
    max-height: 230px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  .box:hover {
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.20);
    background-color: rgba(0, 0, 0, 0.3);
  }
  .box img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: all ease 1s;
  }
  .box:hover img {
    opacity: 1;
  }
  .box span {
    display: block;
    font-size: 56px;
    font-weight: 700;
    color: #6b6060;
    position: absolute;
    right: 10px;
    top: 0px;
    line-height: normal;
  }
  .box h4 a {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #dadada;
    text-decoration: none;
  }
  .box p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
}
.why-us .box:hover span, .why-us .box:hover h4 a, .why-us .box:hover p {
  color: black;
}
/* project */

/* end of our project */

/* our team */

.profile-card-2 {
  background-position: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 10px;

  img {
    transition: all linear 0.25s;
    filter: opacity(.9) drop-shadow(0 0 0 #ee5a6f);
  }
  .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
  }
  .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
  }
  .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
  }
  .profile-icons .fa {
    margin: 5px;
  }
}
.profile-card-2:hover {
  img {
  filter: grayscale(100%);
}
.profile-name {
  bottom: 80px;
}
.profile-username {
  bottom: 60px;
}
.profile-icons {
  right: 40px;
}
}
/* footer */