html {
    font-family: 'Arvo', serif !important;
    background-color: #f8f8f8;
}

.bg {
    background-image: url(https://res.cloudinary.com/casadecode/image/upload/v1628451038/landing%20page/img/top_bg_rb1m3w.svg);
    background-position: bottom;
}

.why-us {
    background-image: url(https://res.cloudinary.com/casadecode/image/upload/v1628451112/landing%20page/img/top_section_bg_mcaw15.svg);
}

.why-us h2 {
    position: relative;
    margin-bottom: 35px;
}

.why-us .box {
    padding: 50px 30px;
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    background-color: #333;
    max-height: 230px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
}

.why-us .box:hover {
    padding: 30px 30px 70px 30px;
    -webkit-box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.why-us .box img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
}

.why-us .box:hover img {
    opacity: 1
}

.why-us .box span {
    display: block;
    font-size: 56px;
    font-weight: 700;
    color: #6b6060;
    position: absolute;
    right: 10px;
    top: 0px;
    line-height: normal;
}

.why-us .box h4 a {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #dadada;
    text-decoration: none;
}

.why-us .box p {
    color: #aaaaaa;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.why-us .box:hover span, .why-us .box:hover h4 a, .why-us .box:hover p {
    color: white;
}

.section-box-eleven {
    color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.section-box-eleven figure {
    position: absolute;
    padding: 10px 15px;
    width: 100%;
    bottom: -4%;
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    background: rgba(0, 0, 0, 0.7);
}

.section-box-eleven:hover figure {
    bottom: 5%;
    -webkit-transition: ease-in-out .9s;
    transition: ease-in-out .9s;
}