.nav-con {
    background-image: url(../img/top_bg.svg);
    background-position:bottom;
}
.bg-c-lite-green {
    background-image: url(../img/top_bg.svg);
    background-position: right;
}
.neo-button {
    width: 42px;
    height: 42px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
}

#filters {
    margin: 1%;
    padding: 0;
    list-style: none;
}

#filters li {
    float: left;
}

#filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

#filters li span.active {
    background: #e95a44;
    color: #fff;
}
#profilelist .profile {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 45%;
    margin: 1%;
    display: none;
    float: left;
    overflow: hidden;
}
.profile-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #666;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 20px;
}

.profile img {
    max-width: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.profile .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.profile .label-bg {
    background: #e95a44;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.profile .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px;
}

.profile .text-category {
    display: block;
    font-size: 10px;
}

.profile:hover .label {
    bottom: 0;
}

.profile:hover img {
    top: -30px;
}
/* media queries */
@media (max-width: 767.98px) {
    #profilelist .profile {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      width: 100%;
      margin: 1%;
      display: none;
      float: left;
      overflow: hidden;
    }
}
/* media queries */

@media (max-width: 767.98px) {
    .bg-c-lite-green {
        background-image: url(../img/top_bg.svg);
        background-position: left;
    }

    .nav-con {
        background-image: url(../img/top_bg.svg);
        background-position: inherit;
    }
}
